/*
Theme Name: EducTech Courses
Theme URI: https://vk.com/eductech
Author: Zamirovski
Author URI: https://vk.com/id166366279
Description: Simple WP theme for language courses. Created using bootstrap.
Version: 1.0
*/

@import url('bootstrap/css/bootstrap.min.css');

/* contact form 7 decoration */
.wpcf7-form p, .wpcf7-form label {
    margin: 0;
}

.wpcf7-form input[type=submit] {
    width: auto;
}

.wpcf7-form input, .wpcf7-form textarea {
    width: 100%;
}

/* article decoration*/
.ed-ul {
    list-style: none;
}

.ed-ul li::before {
    margin-right: 14px;
    content: "\2192";
    font-size: 24px;
    color: red;
}

.ed-table tr :nth-child(3) {
    width: 140px;
}

@media only screen and (max-width: 991px) {
    .ed-table tr {
        display: block;
        border-bottom: 1px solid #dee2e6; 
    }

    .ed-table td {
        display: block;
        text-align: center;
        border: unset;
    }

    .ed-table tr:nth-child(1) {
        display: none;
    }
    
    .ed-table tr :nth-child(1) {
        font-weight: bolder;
    }

    .ed-table tr :nth-child(3) {
        width: unset;
    }
}

/* for affix effect */
.ed-sticky-ease {
    -webkit-transition: .3s all ease;
    -moz-transition: .6s all ease;
    -ms-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease;
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}

.sticky.is-sticky .navbar-nav {
    width: 90%;
    justify-content: flex-end;
}

@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.woff") format('woff');
}

/*
* bootstrap classes customization
*
*
*
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #e33e32;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {  
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.row {
    margin-bottom: 8px;
    margin-top: 8px;
}

.btn-primary {
    background-color: #e33e32;
    border-color: #e33e32;
}

.table-condensed td {
    border-top: none;
    padding: .45rem;
    color: #999190;
}

/* header area */
.ul-widget-icon {
    padding: 10px 0 10px 10px;
    margin: auto 0;
}

.ul-w-icon-size-72 {
    width: auto;
    height: 72px;
    font-size: 72px;
    line-height: 72px;
    -webkit-flex-wrap: wrap;
    -webkit-flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.header-content-left {
    padding: 0;
    -webkit-flex-wrap: wrap;
    -webkit-flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

header .content-left {
    margin: auto 0!important;
    padding: 10px 0 10px 10px;
    max-width: 100%;
}

@media only screen and (max-width: 991px) {
    .header-content-left {
        border-bottom: 2px solid #d4d4d4;
    }
}

.header-content-left .content-left a:hover, 
.header-content-left .content-left a:active {
    text-decoration: none;
}

.header-content-left .content-left h1, .header-content-left .content-left p {
    margin-bottom: 0;
}

.header-content-left .content-left p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.header-content-right {
    -webkit-display: flex;
    display: flex;
}

.ed-header-social {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

@media only screen and (max-width: 991px) {
    .header-content-right {
        flex-direction: column;
    }
}

.header-content-right {
    margin-top: 10px;
}

/* contact list */
.ed-header-contacts > ul {
    text-align: right;
    text-align: -webkit-right;
    text-align: -moz-right;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-right: 30px;
    padding-left: 0;
}

@media only screen and (max-width: 991px) {
    .ed-header-contacts > ul {
        padding-right: 0;
    } 
}

.ed-header-contacts > ul > li {
    display: block;
    float: right;
    font-size: 14px;
    padding-right: 10px;
}

.ed-header-contacts > ul > li > a {
    text-decoration: unset;
    color: #e33e32;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

@media only screen and (max-width: 991px) {
    .ed-header-contacts > ul > li {
        float: left;
    }
}

.ed-header-contacts > ul > li::before {
    font-family: icomoon;
    margin-right: 8px;
    cursor: pointer;
    color: #e33e32;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.ed-header-contacts > ul > li:hover:before,
.ed-header-contacts > ul > li > a:hover {
    color: black!important;
}

li.ed-li-contacts-adress::before {
    content: '\f041';
    color: black!important;
}

li.ed-li-contacts-skype::before {
    content: '\f17e';
}

li.ed-li-contacts-tel::before {
    content: '\f095';
}

li.ed-li-contacts-mail::before {
    content: '\f003';
}

/* header social */
a.ed-a-social {
    text-decoration: unset;
    color: black;
    font-size: 18px;
    display: inline-block;
    width: 30px;
}

a.ed-a-social:hover:before {
    color: #e33e32;
}

.ed-social-vk::before {
    font-family: icomoon;
    content: "\f189";
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.ed-social-inst::before {
    font-family: icomoon;
    content: "\f16d";
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

/* navbar */
.navbar-toggler.ed-navbar-toggler {
    position: absolute;
    right: 0;
    top: -27px;
    border-color: transparent;
}

.navbar-toggler-icon.ed-navbar-toggler-icon {
    background-image: url(img/menu.svg);
}

.nav-item.ed-nav-item {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link.ed-nav-link {
    color: black;
}

.nav-item.ed-nav-item.active .nav-link.ed-nav-link {
    color: #e33e32;
}

.nav-item.ed-nav-item .nav-link.ed-nav-link:hover {
    color: #e33e32;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.dropdown-menu {
    border: unset;
    width: 100%;
    background-color: #d4d4d4;
}

/* carousel area */
#myCarousel.carousel img {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    object-position: 90% 35%;
    pointer-events: none;
}

#myCarousel .carousel-caption {
    background-color: #00000085;
    top: 50%;
    transform: translate(0, -50%);
    padding: 40px;
    margin: 0 25%;
    right: unset;
    bottom: unset;
    left: unset;
}

@media only screen and (max-width: 768px) {
    #myCarousel .carousel-caption{
        padding: 12px 3px;
        margin: 0 15%;
    }
}

@media only screen and (min-width: 769px) {
    #myCarousel  .carousel-caption p:first-child {
        margin-bottom: 32px;
        font-size: 1.2rem;
    }
}

#myCarousel .carousel-item > .container {
    padding: unset;
    margin: unset;
}

#myCarousel .carousel-control-next-icon, #myCarousel .carousel-control-prev-icon {
    height: 60px;
    width: 80px;
}

#myCarousel .carousel-control-next:focus, #myCarousel .carousel-control-next:hover, 
#myCarousel .carousel-control-prev:focus, #myCarousel .carousel-control-prev:hover {
    opacity: unset;
}

#myCarousel .carousel-control-prev-icon, #myCarousel .carousel-control-next-icon {
    background-color: #e33e32;
    opacity: unset;
    border-radius: .3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-image: none;
}

#myCarousel .carousel-control-prev-icon:hover, #myCarousel .carousel-control-next-icon:hover {
    background-color: #007bff;
}

#myCarousel .carousel-control-next, #myCarousel .carousel-control-prev {
    opacity: unset;
}

#myCarousel [class|=ed-arrow] {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
    margin-top: 15px;
}

#myCarousel .ed-arrow-prev {
    margin-left: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);  
}

#myCarousel .ed-arrow-next {
    margin-right: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#myCarousel .carousel-indicators .active {
    background-color: #e33e32;
}

/* about area */
.ed-img-teachers {
    float: left;
    height:100%;
    width:100%;
    max-height:170px;
    max-width:170px;
    margin-right: 12px;
}

/* partners area */
.ed-p-partners {
    clear: both;
}

.ed-img-partners {
    float: left;
    height:100%;
    width:100%;
    max-height:75px;
    max-width:75px;
    margin-right: 12px;
    margin-bottom: 6px;
}

.teachers b {
    color: #e33e32; 
}

/* reviews area */
#myReviews .carousel-inner {
    border: 2px solid black;
}

#myReviews.carousel .carousel-item > img {
    display: block;
    position: static;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#myReviews.carousel .carousel-item > .container {
    display: block;
    padding: unset;
}

#myReviews.carousel .carousel-caption {
    position: relative;
    color: black;
    right: unset;
    left: unset;
    top: 0;
    text-align: left;
    padding-top: unset;
}

#myReviews.carousel .carousel-caption > h4,
#myReviews.carousel .carousel-caption > h5 {
    color: black;
    background-color: #f4f6f7;
    margin-bottom: unset;
}

#myReviews.carousel .carousel-caption > h4,
#myReviews.carousel .carousel-caption > h5,
#myReviews.carousel .carousel-caption > p {
    padding: 8px 40px;
}

#myReviews.carousel .carousel-indicators li {
    background-color: black;
}

#myReviews.carousel .carousel-indicators li.active {
    background-color: #e33e32;
}

/* carousel reviews styling */
.carousel .carousel-indicators li {
    cursor: pointer;
}

/* instagram widget */
#instagram-widget {
    box-shadow: 0 0 0 1px rgba(4,47,89,.12) inset;
    border-radius: 3px;
    margin-bottom: 18px;
}

#instagram-widget > p {
    padding-top: 6px;
    font-weight: bolder;
}

.snapwidget-widget {
    border: none; 
    overflow: hidden; 
    width: 100%;
}

.ed-inst-header {
    padding: 6px 0;
    border-radius: 3px;
    margin-bottom: unset;
}

.ed-img-inst {
    float: right;
    height:100%;
    width:100%;
    max-height:24px;
    max-width:24px;
}

/* VKWidget */

/* googleMap */ 
#googleMap {
    width: 100%;
    min-height: 192px;
}

/* footer */
footer {
    margin-top: 6px;
    padding-top: 6px;
    border-top: 1px solid #d4d4d4;
}